SpaceLibClientWebAdmin/src/wsdl/localhost_8080/SpaceLib-web/StationWebServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices.m1.miage.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices.m1.miage.fr/">

<xs:element name="RoleInvalideException" type="tns:RoleInvalideException"/>

<xs:element name="StationExistanteException" type="tns:StationExistanteException"/>

<xs:element name="TokenInvalideException" type="tns:TokenInvalideException"/>

<xs:element name="ajouterStation" type="tns:ajouterStation"/>

<xs:element name="ajouterStationResponse" type="tns:ajouterStationResponse"/>

<xs:complexType name="ajouterStation">
<xs:sequence>
<xs:element name="infosCompte" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="nom" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ajouterStationResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="TokenInvalideException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="StationExistanteException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RoleInvalideException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>