SpaceLibClientWebAdmin/src/wsdl/localhost_8080/SpaceLib-web/StationWebServices.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.m1.miage.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.m1.miage.fr/" name="StationWebServices">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.m1.miage.fr/" schemaLocation="http://localhost:8080/SpaceLib-web/StationWebServices?xsd=1"/>
</xsd:schema>
</types>
<message name="ajouterStation">
<part name="parameters" element="tns:ajouterStation"/>
</message>
<message name="ajouterStationResponse">
<part name="parameters" element="tns:ajouterStationResponse"/>
</message>
<message name="TokenInvalideException">
<part name="fault" element="tns:TokenInvalideException"/>
</message>
<message name="StationExistanteException">
<part name="fault" element="tns:StationExistanteException"/>
</message>
<message name="RoleInvalideException">
<part name="fault" element="tns:RoleInvalideException"/>
</message>
<portType name="StationWebServices">
<operation name="ajouterStation">
<input wsam:Action="http://webservices.m1.miage.fr/StationWebServices/ajouterStationRequest" message="tns:ajouterStation"/>
<output wsam:Action="http://webservices.m1.miage.fr/StationWebServices/ajouterStationResponse" message="tns:ajouterStationResponse"/>
<fault message="tns:TokenInvalideException" name="TokenInvalideException" wsam:Action="http://webservices.m1.miage.fr/StationWebServices/ajouterStation/Fault/TokenInvalideException"/>
<fault message="tns:StationExistanteException" name="StationExistanteException" wsam:Action="http://webservices.m1.miage.fr/StationWebServices/ajouterStation/Fault/StationExistanteException"/>
<fault message="tns:RoleInvalideException" name="RoleInvalideException" wsam:Action="http://webservices.m1.miage.fr/StationWebServices/ajouterStation/Fault/RoleInvalideException"/>
</operation>
</portType>
<binding name="StationWebServicesPortBinding" type="tns:StationWebServices">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ajouterStation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="TokenInvalideException">
<soap:fault name="TokenInvalideException" use="literal"/>
</fault>
<fault name="StationExistanteException">
<soap:fault name="StationExistanteException" use="literal"/>
</fault>
<fault name="RoleInvalideException">
<soap:fault name="RoleInvalideException" use="literal"/>
</fault>
</operation>
</binding>
<service name="StationWebServices">
<port name="StationWebServicesPort" binding="tns:StationWebServicesPortBinding">
<soap:address location="http://localhost:8080/SpaceLib-web/StationWebServices"/>
</port>
</service>
</definitions>